# General
**/.DS_Store
**/*.bak*
*.log

## C/C++
build/**/*
include/*
lib/*
bin/*
Testing
tests/Temporary
*.bin
*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out
*.app

# Google Test
googletest/
_deps
libseis_test[1]_include.cmake
**/*.cmake

# Cmake
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
build.ninja
.cmake/

# IDE
.idea/
.vscode/

# Python
venv/
.venv/
*.egg-info/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
/data/
/media/
__pycache__/
_build/
build/
dist/
.coverage*
coverage.*
log.html
output.xml
.pytest_cache/
report.html
coverage_html/
